*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
  background-color: lightblue;
}

.nomegioco{
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 100px;
  color: white;
}

.tavolodagioco{
  height: auto;
  max-width: 800px;
  margin: auto;
  position: relative;


}

.fotocarta{
  max-width:100%;
  background-color: white;
  border-radius: 15px;
  visibility: hidden;


}

.carta{
  margin: 20px;
  width: 150px;
  height:180px;
  background-image: url(img/pattern.png);
  background-size: contain;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  max-width: 150px;
  max-height: 180px;

  }

.testocarta{
  text-align: center;
  border-radius: 15px;
  background-color: white;
  line-height: 40px;
  max-width: 150px;
  position: relative;
  bottom: 10px;
  color: pink;
  visibility: hidden;


}

.tavolodagioco:nth-child(6){
  visibility: visible;
}

.carta:hover *{
visibility: visible;
color: orange;
}

.pièdipagina{
height: 100px;
color: black;
font-size: bold;
text-align: center;
}
